################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PSAAS.AppHost/.vs
/src/PSAAS.AppHost/obj
/src/PSAAS.Auth/obj
