################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PSAAS.AppHost/.vs
/src/PSAAS.AppHost/obj
/src/PSAAS.AppHost/bin
/src/PSAAS.Auth/obj
/src/PSAAS.Auth/bin
/src/tests/PSAAS.Auth.Tests/bin
/src/tests/PSAAS.Auth.Tests/obj 
/src/Infrastructure/PSAAS.Domain/obj
/src/PSAAS.AdminPortal/obj
/src/PSAAS.AdminPortal/bin
/src/Infrastructure/PSAAS.Domain/bin/Debug/net10.0
/src/Infrastructure/PSAAS.Infrastructure/obj
